<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>
<body>
    <header>
        <div></div> <!--Logo / Menu-->
        <div></div> <!--Search input-->
    </header>
    <section>
        <div>
            <h3></h3> <!-- tecnología-->
            <h1></h1> <!-- renovada-->
        </div> <!--Image & color -->
    </section> 
    <main>
        <div> <!-- product target -->
            <div></div> <!-- image -->
            <h1></h1> <!-- name product -->
            <p></p> <!-- description -->
            <div> <!-- column in row -->
                <h2></h2> <!-- price -->
                <p></p> <!-- sale% -->
            </div>
            <p></p> <!-- t&c -->
        </div>
    </main>
    <footer>
        <div></div> <!-- line -->
        <div> <!-- colums row-->
            <div> <!-- 1 -->
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div><!-- 2 -->
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div> <!-- 3 -->
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div> <!-- 4 -->
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div> <!-- 5 -->
                <p></p>
                <p></p>
            </div>
            <div> <!-- 6 -->
                <p></p>
                <div></div> <!-- logos -->
            </div>
        </div>
        <div>
            <div></div> <!-- line -->
            <p></p> <!-- text -->
        </div> 
    </footer>
</body>
</html>